.App {
    text-align: center;
    height: 300vh;
    background-color: #dedede;
}

.header-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    object-fit: cover;
    object-position: bottom;
    filter: brightness(50%);
}

.col {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
}

.name-container {
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name {
    font-weight: 700;
    font-size: 2rem;

}

.timeline-circle {
    background-color: #3ba6fd;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.lastname {
    margin-left: 10px;
    font-weight: 500;
    font-size: 2rem;
}

.row-center {
    margin-top: 100px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    font-size: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.icon {
    height: 50px;
}

.location-icon {
    fill: white;
    max-width: 40px;
}

.location {
    font-size: 26px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 20px;
    width: 500px;

    text-align: left;
}

.technologies-bar {
    display: flex;
    flex-direction: row;
    height: 20vh;
    align-items: center;
    justify-content: start;
    background-color: white;
}

.tech-icon {
    height: 80px;
}

.text-tech {
    font-size: 35px;
    font-weight: 700;
}

.about-me-row {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-left: 20%;
    margin-right: 20%;
    width: 100%;
    margin-bottom: 5%;
    margin-top: 10%;

}
.f-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.horizontal-separator{
    height: 4px;
    width: 100px;
    border-radius: 5px;
    background-color: orange;
    margin-bottom: 5%;

}
.readmore{
    font-weight: 550;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 12px;
    color: #0066ff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
}
.about-me-body {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-top: 20%;

    text-align: left;
    height: 20vh;
    overflow-y: scroll;
    transform: scaleX(-1);
    justify-content: start;
}

.about-me-body-inner {
    font-size: large;
    margin-right: 5vh;
    width: 100%;
    height: 40vh;
    transform: scaleX(-1);
}

.about-container {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    height: 40vh;
    width: 100%;
    background-color: whitesmoke;
    position: relative;
    /*background: linear-gradient(180deg, #987559 0%, #ffffff 100%);*/
    box-shadow: 10px 10px 8px 10px #888888;

}

.about-me-title {
    margin-top: 20%;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 5vh;
}

.stacked-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position: absolute;
    top: 40%;
    left: 30%;
    color: white;
}

#circle {
    width: 100px;
    height: 100px;
    background: #009dff;
    border-radius: 50%
}

.timeline-bar {
    opacity: 0.7;
    height: 100vh;
    width: 5px;
    background-color: gray;
}

.align-text-left {
    margin-left: 20%;
    text-align: left;
}

.text-body {
    font-size: 1.5rem;
}

.timeline-container {
    height: 400vh;
    background: linear-gradient(180deg, #ffffff 0%, #868686 100%);
}

.timeline-col {
    margin-top: 10vh;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.flex-row {
    display: flex;
    flex-direction: row;
}

.icon-demo {
    color: #3ba6fd;
    width: 30px;
    height: 30px;
}


.project-image {
    position: relative;
    width: 100%;
    max-height: 70%;
    object-fit: cover;
    border-radius: 0px 0px 5px 5px;
}

.description{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 20%;
    z-index: -1;
    justify-content: space-between;
}
.footer{
    align-self: end;
    justify-self: end;
    margin-top: 20%;
}
.project-button{
    position: absolute;
    font-weight: 700;
    top: 50%;
    left: 30%;
    width: 150px;
    height: 50px;
    background-color: #6c6c6c;
    border: 1px solid orange;
    border-radius: 4px ;
}
.righttop-container {
    justify-content: space-between;
    width: 30vh;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 5%;
    top: 5%;
    color: white;
    font-size: 2rem;
}

.margin-container {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: row;
}

.title {
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: 700;

}

.about-col {
    margin-top: 10%;
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 30vh;
}

.scroller {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 15vh;
    font-size: 1.5rem;
    font-weight: 500;
    color: #7C7C7C;
}

.projects-container {
    margin: 5% 10% 5% 5%;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.project-item-container {
    position: relative;
    display: flex;
    border: 2px solid #ababab;
    flex-direction: column;
    background-color: #656565;
    box-shadow: 6px 6px 2px 5px #888888;
    /*border-radius: 5px;*/
    text-align: start;
    height: 30%;
    width: 30%;
    /*border: 2px solid #a9a9a9;*/
}
.project-heading {
    margin-top: 5%;
    align-self: center;
    color: #e19027;
    font-size: 1.5rem;
    font-weight: 550;
    margin-bottom: 5%;
}

.projects-title {
    height: 10vh;
    font-weight: 700;
    font-size: 3rem;
    /*text-decoration: underline;*/
}
.projects-section{
    margin-top: 10%;
}
.subheading {
    font-size: 2rem;
    color: gray;
}

.link {
    color: #3ba6fd;
    font-size: 1.5rem;
}

.project-row {
    margin-top: 10px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
}

.about-me-body::-webkit-scrollbar {
    width: 10px;
}

.about-me-body::-webkit-scrollbar-track {
    background: #b4b4b4;
    border-radius: 10px;
}

.about-me-body::-webkit-scrollbar-thumb {
    background: #008cff;
    border-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: black;
    width: 100%;
    position: absolute;
}

.App-link {
    color: #61dafb;
}

