.App {
  text-align: center;
  height:200vh;
}

.header-image{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 81vh;
  object-fit: cover;
  object-position: bottom;
  filter: brightness(50%);
}
.col{
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;
}
.name-container{
  position: absolute;
  top: 5%;
  left: 5%;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.name{
  font-weight: 700;
  font-size: 2rem;

}
.timeline-circle{
  background-color: #3ba6fd;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.lastname{
  margin-left: 10px;
 font-weight: 500;
  font-size: 2rem;
}
.row-center{
  margin-top: 100px;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  font-size: 20px;
}
.row{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.icon{
  height: 50px;
}
.location-icon{
  fill: white;
  max-width: 40px;
}
.location{
  font-size: 26px;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 20px;
  width: 500px;

  text-align: left;
}
.technologies-bar{
  display: flex;
  flex-direction: row;
  height: 20vh;
  align-items: center;
  justify-content: start;
  background-color: white;
}
.tech-icon{
  height: 80px;
}
.text-tech{
  font-size: 35px;
  font-weight: 700;
}
.about-me{
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 10%;
  justify-content: space-between;

}
.about-container{
  height: 50vh;
  width: 100%;
  background-color: whitesmoke;
  /*background: linear-gradient(180deg, #987559 0%, #ffffff 100%);*/
  box-shadow: 10px 10px 8px 10px #888888;
  margin-bottom: 5vh;

}
.about-me-title{
  margin-top: 15vh;
  font-size: 2rem;
  font-weight: 700;
}
.stacked-text{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  position: absolute;
  top: 40%;
  left: 30%;
  color: white;
}

#circle {
  width: 100px;
  height: 100px;
  background: #009dff;
  border-radius: 50%
}
.timeline-bar{
  opacity: 0.7;
  height: 80vh;
  width: 5px;
  background-color: gray;
}
.align-text-left{
  text-align: left;
}
.text-body{
  font-size: 2rem;
}
.timeline-container{
  height: 400vh;
  background: linear-gradient(180deg, #ffffff 0%, #c4e4ff 100%);
}
.timeline-col{
  margin-top: 60vh;
  align-items: center;
  display: flex;
  flex-direction: column;

}
.margin-container{
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  }
.title{
  font-family: sans-serif;
  font-size: 4rem;
  font-weight: 700;

}
.scroller {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: 13vh;
  font-size: 1.5rem;
  font-weight: 500;
  color: #7C7C7C;
}
.projects-title{
  height: 10vh;
  margin-top: 20vh;
  font-weight: 700;
  font-size: 4rem;
  text-decoration: underline;
}
.scroll::-webkit-scrollbar {
  width: 10px;
}
.scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}
scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius:10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  width: 100%;
  position: absolute;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
